@model Test.Models.Student
<div>
    <form method="post" asp-action="Add">
        <div class="row">
            <div class="col">
                <label asp-for="Id">Id</label>
                <input asp-for="Id" type="number" class="form-control" hidden/>
            </div>
            <div class="col">
                <label asp-for="FullName">Full Name</label>
                <input asp-for="FullName" type="text" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="Class">Class</label>
                <input asp-for="Class" type="text" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" type="text" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="text" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col" style="text-align:right;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
